html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        form {
            .formField {
                // display: grid;
                label {
                    font-weight: bold;
                    font-size: 17px;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    display: block
                }
                textarea,
                input {
                    margin-bottom: 5px;
                    margin-top: 0px;
                    width: 100%;
                }
                span {
                    color: red;
                }
            }
            #error_gender,
            #error_status {
                display: block;
                color: red;
                margin-top: 0px;
                margin-bottom: 5px;
            }
            #submitBtn {
                margin-top: 10px;
                display: block;
            }
        }
    }
}